:host {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mouse-animation {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #3DCFB680;
    filter: blur(90px);
    position: absolute;
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    pointer-events: auto;
}