<section class="contact-me-background-container">
    <div class="contact-me-container">
        <div class="left-container">
            <span class="first-span">{{'contactMe.subHeader' | translate}}</span>
            <h2>{{'contactMe.header' | translate}}</h2>
            <span class="second-span">{{'contactMe.text0' | translate}}</span>
            <p>{{'contactMe.description' | translate}}</p>
            <span class="third-span">{{'contactMe.text1' | translate}} <span>{{'contactMe.smallText0' |
                    translate}}</span></span>
        </div>
        <app-contact-form></app-contact-form>
    </div>
</section>
@if(contactMeService.messageSend) {
<div class="message-container">
    <div class="message">
        {{'contactMe.successfullyMessage' | translate}}
    </div>
</div>
}