.contact-me-background-container {
    background-color: #1C1C1C;
}

.contact-me-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 96px 0 96px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.left-container {
    max-width: 568px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-container .first-span {
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 500;
    line-height: 28.06px;
    color: #3DCFB6;
    margin-bottom: 20px;
}

.left-container h2 {
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #3DCFB6;
    margin-bottom: 40px;
}

.left-container .second-span {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #3DCFB6;
    margin-bottom: 16px;
}

.left-container p,
.left-container .third-span {
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.left-container .third-span {
    margin-top: 16px;
}

.left-container .third-span span {
    color: #3DCFB6;
    font-weight: 700;
}

form {
    max-width: 616px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #3DCFB680;
    border-bottom: 1px solid #3DCFB680;
    cursor: pointer;
    transition: border-color 0.5s ease;
    position: relative;
    z-index: 10;
}

.input-container:hover {
    border-color: #3DCFB6;
}

.input-container label {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: #3DCFB6;
    cursor: pointer;
}

.input-container input {
    background-color: transparent;
    border: unset;
    outline: unset;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: white;
    cursor: pointer;
}

.input-container:nth-of-type(3) {
    margin-bottom: 32px;
}

.input-container .valid::placeholder {
    color: #FFFFFFCC;
}

.input-container .invalid::placeholder {
    color: #EC7B7BCC;
}

.input-container:hover input::placeholder {
    color: white;
}

.input-container input:focus::placeholder {
    color: transparent;
}

.privacy-policy-container {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.privacy-policy-container .checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #3DCFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.privacy-policy-container .checkbox:hover {
    background-color: #3DCFB64D;
    filter: drop-shadow(0px 0px 15px #3DCFB6);
}

.privacy-policy-container p,
.privacy-policy-container span {
    font-family: 'Karla';
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.privacy-policy-container span {
    color: #3DCFB6;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.privacy-policy-container span:hover {
    color: white;
}

.privacy-policy-message-container {
    height: 44px;
    margin-bottom: 32px;
}

.privacy-policy-message-container small {
    font-family: 'Karla';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #EC7B7B;
}

form button {
    width: fit-content;
    padding: 12px 24px;
    border: 1px solid #FFFFFF80;
    border-radius: 100px;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

form button span {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #FFFFFFCC;
    display: inline-block;
    transition: transform 1s ease, color 0.5s ease;
}

form .button-enabled {
    border-color: white;
    color: white;
    overflow: hidden;
    transition: border-color 0.5s ease;
}

form .button-enabled:hover {
    border-color: #3DCFB6;
}

form .button-enabled:not(:hover) span {
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

form .button-enabled:hover span {
    color: #3DCFB6;
    transform: translateX(-150%);
}