<div class="header-background-container">
    <header>
        <div class="left-container">
            <div (click)="switchLanguage()" class="language-container">
                <div [ngStyle]="{'padding-right': !toggleLanguage ? '12px' : '8px'}"
                    [ngClass]="{'active-language': !toggleLanguage}" class="en-container language">EN
                </div>
                <div [ngStyle]="{'padding-left': toggleLanguage ? '12px' : '8px'}"
                    [ngClass]="{'active-language': toggleLanguage}" class="de-container language">DE
                </div>
            </div>
            <span (click)="scrollService.scrollTo('aboutMe')">About me</span>
            <span (click)="scrollService.scrollTo('skills')">Skills</span>
            <span (click)="scrollService.scrollTo('portfolio')">Projects</span>
        </div>
        <div class="right-container">
            <span><span>V</span>S</span>
            <span>Vitalij<br>Schwab</span>
        </div>
    </header>
</div>