<section class="hero-background-container">
    <app-header></app-header>
    <div class="hero-container">
        <div class="left-container"></div>
        <div class="center-container">
            <span>Frontend Developer</span>
            <h1>Vitalij Schwab</h1>
            <div class="button-container">
                <button><span>Check my work</span></button>
                <button><span>Contact me</span></button>
            </div>
        </div>
        <div class="right-con"></div>
    </div>
</section>