<section class="footer-background-container">
    <div class="footer-container">
        <div class="left-container">
            <div (click)="scrollService.scrollTo('hero')" class="top-container">
                <span><span>V</span>S</span>
                <span>Vitalij<br>Schwab</span>
            </div>
            <div class="bottom-container">
                <span>Web Developer</span>
                <span>Lahr/Schwarzwald Germany</span>
            </div>
        </div>
        <span class="copyright">© Vitalij Schwab 2024</span>
        <div class="right-container">
            <div class="a-container">
                <div class="circle-container"></div>
                <a href="https://github.com/VitalijSch/" target="_blank">GitHub</a>
            </div>
            <div class="a-container">
                <div class="circle-container"></div>
                <a href="https://www.linkedin.com/in/vitalij-schwab/" target="_blank">LinkedIn</a>
            </div>
            <div class="a-container">
                <div class="circle-container"></div>
                <a href="mailto:schwab.vitalij@gmail.com">Email</a>
            </div>
            <div class="a-container">
                <div class="circle-container"></div>
                <a (click)="navigateService.navigateTo('legal-notice')">Legal Notice</a>
            </div>
        </div>
    </div>
</section>