<section class="footer-background-container">
    <div [ngStyle]="{'padding': router.url.includes('imprint') || router.url.includes('privacy-policy') ? '20px 96px 20px 96px' : ''}"
        class="footer-container">
        <div class="left-container">
            <div (click)="scrollService.scrollTo('header')" class="top-container">
                <span><span>V</span>S</span>
                <span>Vitalij<br>Schwab</span>
            </div>
            <div class="bottom-container">
                <span>{{'footer.label' | translate}}</span>
                <span>Lahr/Schwarzwald {{'footer.country' | translate}}</span>
            </div>
        </div>
        <span class="copyright">© Vitalij Schwab 2024</span>
        <div class="right-container">
            <div class="a-container">
                <div class="circle-container"></div>
                <a href="https://github.com/VitalijSch/" target="_blank">GitHub</a>
            </div>
            <div class="a-container">
                <div class="circle-container"></div>
                <a href="https://www.linkedin.com/in/vitalij-schwab/" target="_blank">LinkedIn</a>
            </div>
            <div class="a-container">
                <div class="circle-container"></div>
                <a href="mailto:schwab.vitalij@gmail.com">{{'footer.email' | translate}}</a>
            </div>
            <div class="a-container">
                <div class="circle-container"></div>
                <a (click)="navigateService.navigateTo('imprint')">{{'footer.imprint' | translate}}</a>
            </div>
        </div>
    </div>
</section>