.hero-background-container {
    height: 100%;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

.hero-container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 96px;
    color: white;
    display: grid;
    grid-template-columns: 30px 1fr 32px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "left-container center-container right-container";
}

.left-container {
    grid-area: left-container;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.arrow-down-container {
    width: 30px;
    height: 48px;
    border: 1px solid #3DCFB6;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down-container svg {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.left-container .line-container {
    width: 1px;
    height: 240px;
    background-color: #3DCFB6;
}

.center-container {
    grid-area: center-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.center-container .submain-header {
    font-family: 'Fire Code';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #D9D9D9;
}

.center-container h1 {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 128px;
    color: #D9D9D9;
    margin-bottom: 28px;
}

.right-container {
    grid-area: right-container;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.rotate-wrapper {
    position: relative;
}

.rotate-wrapper a {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    text-decoration: none;
    font-family: 'Karla';
    font-size: 18px;
    color: white;
    transform: rotate(-90deg);
}

.rotate-wrapper a:hover {
    color: #3DCFB6;
}

.svg-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.svg-container svg:hover path {
    fill: white;
}

.svg-container .circle-container {
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 6.4px;
    height: 6.4px;
    border-radius: 50%;
    background-color: #3DCFB6;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.svg-container:hover .circle-container {
    opacity: 1;
}

.right-container .line-container {
    width: 1px;
    height: 186px;
    background-color: white;
}

.slider-container {
    max-width: 1440px;
    width: 100%;
    height: 62px;
    background: #FFFFFF1F;
    backdrop-filter: blur(5.3px);
    position: absolute;
    bottom: 50px;
    left: 50%;
    padding: 12px 32px;
    overflow: hidden;
    transform: translateX(-50%) rotate(-3deg);
    cursor: default;
}

.slider-track {
    display: flex;
    align-items: center;
    gap: 28px;
}

.slider-track .circle-container {
    width: 6.4px;
    height: 6.4px;
    border-radius: 50%;
    background-color: #3DCFB6;
}

.slider-track span {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
    color: #3DCFB6;
    white-space: nowrap;
}